@{
    ViewBag.Title = "Kontakt";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        Dvorce<br />
        Lysá nad Labem, 28922<br />
        <abbr title="Phone">Tel.:</abbr>
        792 518 250
    </address>

    <address>
        <strong>Informace:</strong>   <a href="mailto:tomasknap007@gmail.com">tomasknap007@gmail.com</a><br />
    </address>
</main>