@{
    ViewBag.Title = "Hlavní strana";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Evidence pojištění</h1>
        <p class="lead">Evidence pojištění je webová aplikace pro správu pojištění a pojištěnců, vytvořená pomocí technologií ASP.NET MVC, Html 5, CSS 3, C#.Net, Bootstrap.</p>
        <p><a href="https://asp.net" class="myButtonBlue btn-md">Zjistit více &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Co aplikace obsahuje?</h2>
            <p>
                Aplikace obsahuje kompletní správu (CRUD) pojištěných (např. "Jan Novák") a jejich pojištění (např. "pojištění bytu").
            </p>
            <ul>
                <li>Vytvoření pojištěného</li>
                <li>Vytvoření pojištění</li>
                <li>Zobrazení detailu pojištěného včetně jeho pojištění</li>
                <li>Zobrazení detailu pojištění</li>
                <li>Zobrazení seznamu pojištěných</li>
                <li>Odstranění pojištěného včetně všech jeho pojištění</li>
                <li>Odstranění pojištění</li>
                <li>Editace pojištěného</li>
                <li>Editace pojištění pojištěného</li>
                <li>Dané entity jsou uloženy v SQL databázi</li>
                <li>Aplikace je naprogramována podle dobrých praktik a je plně responzivní</li>
            </ul>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Registrace a Přihlášení</h2>
            <p>Aplikace podporuje Registrace účtů a přihlašování pomocí třetí strany jako například příhlášení Google účtem.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Autor</h2>
            <p>Tuto aplikaci vytvořil Tomáš Knap.</p>
        </section>
    </div>
</main>