@{
    ViewBag.Title = "Potvrzení resetování hesla";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Heslo bylo resetováno. @Html.ActionLink("Kliknutím sem se přihlaste", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
